{
  "extends": "@antfu",
  "rules": {
    "curly": "off",
    "jsonc/sort-keys": "off",
    "arrow-parens": ["error", "as-needed"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "@typescript-eslint/brace-style": "off"
  }
}
