.wrapper {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
}

.nav {
  ul {
    list-style: none;
    display: flex;
    column-gap: 16px;
  }
}
.main {
  margin-top: 16px;
  border: 1px solid;
  min-height: 50vh;
}
